.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 800px)  {
    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon button i {
        color: #000;
        font-size: 1.5rem;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    .content-logo {
        display: flex;
        flex-direction: column;
    }

    main .container .container-projetos .content-projetos {
        grid-template-columns: 1fr 1fr;
    }

    main .container .container-habilidades .content-habilidades {
        flex-direction: column;
    }

    footer .container-footer {
        flex-direction: column;
        justify-content: center;
    }
}